doctype html
html(lang="en")
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Wisboo Challenge
        link(
            href="https://2.cdn.wisboo.com/fonts/icons-wisboo/style.css"
            rel="stylesheet"
        )
        link(
            href="../styles/styles.css"
            rel="stylesheet"
        )
    body
        div(class="container")
            div(class="wrapper header")
                span(class="header__titles")
                    h2 Ventas de la academia
                span(class="header__buttons")
                    button(class="header__buttons__download")  
                        i(class="icon-file_download---material")
                        span Exportar  
                    button(class="header__buttons__pink") Registrar una venta
            div(class="wrapper totals")
                span(class="totals__box")
                    text(class="totals__title") Cant Ventas
                    text(class="totals__results") 322
                    small Últimos 60 días
                span(class="totals__box")
                    text(class="totals__title") Recaudo (MXN)
                    span
                        i(class="icon-Dollar-Sign") 
                        text(class="totals__results") 77322 MXN
                    small 04/10/2020 - 04/12/2020
                span(class="totals__box")
                    text(class="totals__title") Recaudo (USD)
                    span
                        i(class="icon-Dollar-Sign")
                        text(class="totals__results") 10420 USD
                    small Todos los tiempos
                span(class="totals__box")
                    text(class="totals__title") Recaudo (ARS)
                    span
                        i(class="icon-Dollar-Sign")
                        text(class="totals__results") 257000 ARS
                    small 04/10/2020 - 04/12/2020
            div(class="wrapper results")
                div(class="results__filters")
                    input(
                        class="results__filter results__filter__search"
                        type="text"
                        placeholder="Buscar por # orden o comprador"
                    )    
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Curso 
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Estado
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Medio de pago
                    input(type="date" class="results__filter results__filter__date")
                div(class="results__filters__mobile")
                    input(
                        class="results__filter results__filter__search"
                        type="text"
                        placeholder="Buscar por # orden o comprador"
                    )
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Tipo de filtro
                        option(value="course") Curso
                        option(value="state") Estado
                        option(value="payment") Medio de pago
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Opciones
                    input(type="date" class="results__filter results__filter__date")
                div(class="results__info")
                    div(class="results__column-titles")
                        span(class="results__column-title")
                            text # Orden
                            i(class="icon-Filtrar")
                        span(class="results__column-title results__column-title__course")
                            text # Curso
                            i(class="icon-Filtrar")
                        span(class="results__column-title results__column-title__customer")
                            text Comprador
                            i(class="icon-Filtrar")
                        span(class="results__column-title")
                            text Fecha
                            i(class="icon-Filtrar")
                        span(class="results__column-title")
                            text Estado
                            i(class="icon-Filtrar")
                        span(class="results__column-title")
                            text Ganancias
                            i(class="icon-Filtrar")
                    div(class="results__items")
                        span(class="results__item")
                            span(style="width: 15%")
                                a 10063-0021
                            span(style="width: 26%")
                                text(class="results__item-text") Baby Monitor Technology
                            span(style="width: 18%")
                                text(class="results__item-text") Aaron Almaraz
                            span(style="width: 14%")
                                text(class="results__item-text") 19 Dec 2020
                            span(style="width: 14%")
                                span(class="results__item-state results__item-state__voucher") Comprobante
                            span(style="width: 14%")
                                text(class="results__item-text") USD $50
                
                    
