doctype html
html(lang="en")
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1")
        title Wisboo Challenge
        link(
            href="https://2.cdn.wisboo.com/fonts/icons-wisboo/style.css"
            rel="stylesheet"
        )
        link(
            href="../styles/styles.css"
            rel="stylesheet"
        )
    body
        div(class="container")
            div(class="wrapper header")
                span(class="header__titles")
                    h2 Ventas de la academia
                span(class="header__buttons")
                    button(class="header__buttons__download")  
                        i(class="icon-file_download---material")
                        span Exportar  
                    button(class="header__buttons__pink") Registrar una venta
            div(class="wrapper totals")
                span(class="totals__box")
                    text(class="totals__title") Cant Ventas
                    text(class="totals__results") 322
                    small Últimos 60 días
                span(class="totals__box")
                    text(class="totals__title") Recaudo (MXN)
                    span
                        i(class="icon-Dollar-Sign") 
                        text(class="totals__results") 77322 MXN
                    small 04/10/2020 - 04/12/2020
                span(class="totals__box")
                    text(class="totals__title") Recaudo (USD)
                    span
                        i(class="icon-Dollar-Sign")
                        text(class="totals__results") 10420 USD
                    small Todos los tiempos
                span(class="totals__box")
                    text(class="totals__title") Recaudo (ARS)
                    span
                        i(class="icon-Dollar-Sign")
                        text(class="totals__results") 257000 ARS
                    small 04/10/2020 - 04/12/2020
            div(class="wrapper results")
                div(class="results__filters")
                    input(
                        class="results__filter results__filter__search"
                        type="text"
                        placeholder="Buscar por # orden o comprador"
                    )    
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Curso 
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Estado
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Medio de pago
                    input(type="date" class="results__filter results__filter__date")
                div(class="results__filters__mobile")
                    input(
                        class="results__filter results__filter__search"
                        type="text"
                        placeholder="Buscar por # orden o comprador"
                    )
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Tipo de filtro
                        option(value="course") Curso
                        option(value="state") Estado
                        option(value="payment") Medio de pago
                    select(name="select" class="results__filter results__filter__select")
                        option(value="default" selected) Opciones
                    input(type="date" class="results__filter results__filter__date")
                div(class="results__info")
                    div(class="results__column-titles")
                        span(class="results__column-title")
                            text # Orden
                            i(class="icon-Filtrar")
                        span(class="results__column-title results__column-title__course")
                            text # Curso
                            i(class="icon-Filtrar")
                        span(class="results__column-title results__column-title__customer")
                            text Comprador
                            i(class="icon-Filtrar")
                        span(class="results__column-title")
                            text Fecha
                            i(class="icon-Filtrar")
                        span(class="results__column-title")
                            text Estado
                            i(class="icon-Filtrar")
                        span(class="results__column-title")
                            text Ganancias
                            i(class="icon-Filtrar")
                    div(class="results__items")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 10063-0021
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") Baby Monitor Technology
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Aaron Almaraz
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 19 Dec 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__voucher") Comprobante
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $50
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 88043-2371
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") Can You Get Free Games…
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Ainara Vergara
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 15 Aug 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__voucher") Comprobante
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $130.1
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 97411-4998
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") How Plasma Tvs And Lcd Tvs Differ
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Bansilal Brata
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 24 May 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__paid") Pagada
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") MXN $1000
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 70393-0959
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") Dealing With Technical Support 10 Useful Tips
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Emilee Simchenko
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 16 Dec 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__pending") Pendiente
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $30
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 48929-4326
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") Mg Shadow Computer Monitoring Software...
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Emmy Elsner
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 06 Feb 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__voucher") Pagada
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $38
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 94021-7221
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") A Pocket Pc Is Portability At It S Best
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Enyinnaya Chinedu
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 02 Dec 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__rejected") Rechazada
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $32
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 42680-1026
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") Not All Blank Cassettes Are Created Equal
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Heather Clark
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 26 Oct 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__paid") Pagada
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $100
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 87866-4111
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") V7 Digital Photo Printing
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Noori El Mansur
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 18 Jun 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__paid") Pagada
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $100
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                        span(class="results__item results__item__last")
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") # Orden:
                                a 18742-8221
                            span(class="results__column-wrapper results__column-wrapper__title")
                                span(class="results__course-title-wrapper")
                                    text(class="results__column-title__mobile") # Curso:
                                    text(class="results__item-text") Anonymous Proxy
                            span(class="results__column-wrapper results__column-wrapper__customer")
                                text(class="results__column-title__mobile") Cliente:
                                text(class="results__item-text") Praskovya Dubinina
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Fecha:
                                text(class="results__item-text") 30 Mar 2020
                            span(class="results__column-wrapper")
                                text(class="results__column-title__mobile") Estado:
                                span(class="results__item-state results__item-state__paid") Pagada
                            span(class="results__column-wrapper results__column-wrapper__profits")
                                text(class="results__column-title__mobile") Ganancias:
                                text(class="results__item-text") USD $100
                            span(class="results__column-wrapper results__column-wrapper__icon")
                                i(class="icon-Menu-Tres-Puntos")
                
                    
